version: '3'
services:
    mongodb:
        image: mongo:latest@sha256:8f234d6f797afa517e8cb319645965d101ce6177a34aeee26260c84840c5c0c8
        environment:
          - MONGO_DATA_DIR=/data/mongodb
          - MONGO_LOG_DIR=/dev/null
          - MONGODB_DBNAME=eae
        command: mongod --smallfiles --logpath=/dev/null # --quiet
        ports:
          - 27017:27017

    mongodb-initialize:
        image: aoehmich/eae-mongodb-initialize:latest@sha256:c609fb7a4728b52e9c40d3c92c9e1a4cc23cffe30aecaf1ce3173d669882c040
        depends_on:
          - mongodb
        links:
          - mongodb

    swift:
        image: bouncestorage/swift-aio:latest@sha256:e892596f6b50de76af39a1143445123f96018dff278fd1b33d45e69108f32050
        ports:
          - 8080:8080

    compute1:
        image: aoehmich/eae-compute:latest@sha256:febaf37278f700976b763b14941ca36f112bbd5b3ba94eae7ecc8ef1d4169f86
        depends_on:
          - mongodb
          - swift
        links:
          - mongodb
          - swift
        volumes:
          - ./eae.compute.config.js:/usr/app/config/eae.compute.config.js

    compute2:
        image: aoehmich/eae-compute:latest@sha256:febaf37278f700976b763b14941ca36f112bbd5b3ba94eae7ecc8ef1d4169f86
        depends_on:
          - mongodb
          - swift
        links:
          - mongodb
          - swift
        volumes:
          - ./eae.compute.config.js:/usr/app/config/eae.compute.config.js

    scheduler:
        image: aoehmich/eae-scheduler:latest@sha256:ed307d92668d897594ad03ef551a52eb6f3abe6ab71be15fd1dfa9c3acb0f675
        depends_on:
          - compute1
          - compute2
        links:
          - mongodb
          - swift
        volumes:
          - ./eae.scheduler.config.js:/usr/app/config/eae.scheduler.config.js

    carrier:
        image: aoehmich/eae-carrier:latest@sha256:58d607888b0ff12ed6ad998b44aaa9f924bfbf37d8ec85b43eed9bd8a1839ff0
        depends_on:
          - scheduler
        links:
          - mongodb
          - swift
        ports:
          - 3000:3000
        volumes:
          - ./eae.carrier.config.js:/usr/app/config/eae.carrier.config.js

    interface:
        image: aoehmich/eae-interface:latest@sha256:56c2b2dfd6ca445475d7a3c6a89dfbda0a391bb8ac66836849eda066e1b7ab2d
        depends_on:
          - carrier
        links:
          - mongodb
        ports:
          - 80:80
        volumes:
          - ./eae.interface.config.js:/usr/app/config/eae.interface.config.js
