version: '3'
services:
    mongodb:
        image: mongo:latest@sha256:8f234d6f797afa517e8cb319645965d101ce6177a34aeee26260c84840c5c0c8
        environment:
            - MONGO_DATA_DIR=/data/mongodb
            - MONGO_LOG_DIR=/dev/null
            - MONGODB_DBNAME=eae
        command: mongod --smallfiles --logpath=/dev/null # --quiet
        ports:
            - 27017:27017

    swift:
        image: bouncestorage/swift-aio:latest@sha256:e892596f6b50de76af39a1143445123f96018dff278fd1b33d45e69108f32050
        ports:
            - 8080:8080

    lb: # Load balancing
        image: dockercloud/haproxy:latest@sha256:040d1b321437afd9f8c9ba40e8340200d2b0ae6cf280a929a1e8549698c87d30
        depends_on:
            - compute
        links:
            - compute
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - 80:80

    compute:
        build:
            context: .
        depends_on:
            - mongodb
            - swift
        links:
            - mongodb
            - swift
        ports:
            - 80:80
