version: '3'
services:
    mongodb:
        image: mongo:latest@sha256:94c26811b76f697fa9ed91431d3665cfc6d87254c7980ddf2510c55833700835
        environment:
            - MONGO_DATA_DIR=/data/mongodb
            - MONGO_LOG_DIR=/dev/null
            - MONGODB_DBNAME=eae
        command: mongod --smallfiles --logpath=/dev/null # --quiet
        ports:
            - 27017:27017

    swift:
        image: bouncestorage/swift-aio:latest@sha256:2664057b9be22ff8724de030aa62693d5136d66c85175f0901a7b34235540116
        ports:
            - 8080:8080

    lb: # Load balancing
        image: dockercloud/haproxy:latest@sha256:040d1b321437afd9f8c9ba40e8340200d2b0ae6cf280a929a1e8549698c87d30
        depends_on:
            - compute
        links:
            - compute
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        ports:
            - 80:80

    compute:
        build:
            context: .
        depends_on:
            - mongodb
            - swift
        links:
            - mongodb
            - swift
        ports:
            - 80:80
